.App {
  text-align: center;
  background: url("/launch.jpg") no-repeat;
  background-position: absolute;
  background-size: 105rem;
  width: 107rem;
  height: 40.5rem;
  margin: -1.5rem .5rem;
}
.container {
  margin: 0rem 0rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
}
button {
  margin: 33rem 0rem 0rem -4rem;
  font-size: 3rem;
  background-color: #621217;
  color:  #002c49;
}
.game {
  text-align: center;
  background: url("/matho_game.jpg") no-repeat;
  background-size: 106rem;
  width: 107rem;
  height: 45.5rem;
  margin: -1.5rem -.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.problem {
  margin: 3rem 0rem;
  font-size:6rem;
}
h3 {
  margin: 11rem 0rem;
  font-size: 2rem;
}
.ab {
  margin: 0rem 0rem 4rem -11rem;
  font-size: 4rem;
}
input {
  font-size: 4rem;
  width: 14rem;
}
.overallT {
  display: none;
}
.alert {
  font-size: 5rem;
}
.results {
  text-align: center;
  background: url("/matho_game.jpg") no-repeat;
  background-size: 106rem;
  width: 107rem;
  height: 45.5rem;
  margin: -1.5rem -.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.r-contain {
  margin: 0rem -42rem 6rem 0rem;
  display: flex;
}
.r-header {
  margin: -3rem 0rem 0rem -37rem;
  font-size: 5rem;
}
h2 {
  margin: -4rem 0rem;
  font-size: 2rem;
  display: flex;
}
h4 {
  margin: 0rem 0rem 0rem -21rem;
  font-size: 2rem;
}
h5 {
  margin: 3rem 23rem 3rem 0rem;
  font-size: 2rem;
  display: flex;
}

html {
  background-color: #002c49;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
